* {
    margin: 0%;
    padding: 0%;
}

html,body{
    background-color: orange;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(235, 159, 60);
    height: 100px;
    font-size: 300%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav{
    background-color: rgb(218, 174, 55);
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secc1{
    background-color: rgb(218, 174, 55);
    height: 350px;
    width: 50%;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secc2{
    background-color: rgb(199, 165, 71);
    height: 350px;
    width: 50%;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.secc3{
    background-color: rgb(158, 130, 52);
    height: 100px;
    width: 50%;
    float: left;
    text-align: center;
}

.secc4{
    background-color: rgb(92, 76, 31);
    height: 100px;
    width: 50%;
    float: left;
    text-align: center;
}

footer{
    clear: both;
    height: 200px;
    background-color: rgb(122, 94, 16);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figuras{
    float: right;
    
}
.personaje{
    float: left;
}
.bola{
    float: right;
    height: 10%;
    width: 10%;
}

header img{
    width: 5%;
}
.Horario{
    text-align: center;
    justify-content: center;
   
}

#tabla {
    height: 200px;
    background-color: rgb(122, 94, 16);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid purple;
}
table {border-collapse:collapse;
}
table {width:2%
}
td {padding:19px;
}
td {background-color: orangered;
    color: blue;
}
tr { height: 50px;
vertical-align: middle;
border-radius: 19px;
text-align: center;
}
p {color:blueviolet}
td:hover {background-color: burlywood;}
